<nav class="navbar navbar-expand-lg bg-{{colorTheme}}  shadow-lg border-0 position-absolute start-0 end-0 mx-2 z-3" style="top: 20px;" data-bs-theme="dark">


	<div
		class="container-fluid">

		<!-- Logo -->
		<a class="navbar-brand mx-auto order-0" href="{{ path('app_home') }}">
			<img src="{{ asset('assets/img/logo-agroway.svg') }}" style="height:30px;">
		</a>

		<!-- Burger -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse order-1" id="navbarColor01">
			<ul class="navbar-nav mx-auto gap-3">


				{# ⭐ DROPDOWN CATALOGUE ⭐ #}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-white" href="#" id="catalogueDropdown" role="button" data-bs-toggle="dropdown">
						Catalogue
					</a>

<ul class="dropdown-menu bg-{{colorTheme}} border-0 shadow">


						<li>
<a class="dropdown-item text-white" href="{{path('app_laddo')}}">


								Glaces
							</a>
						</li>
						<li>
							<a class="dropdown-item text-white" href="#">
								Pâte à tartiner
							</a>
						</li>
						

						
					</ul>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" href="#">Nouveautés</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" href="#">Événements</a>
				</li>
<li class="nav-item"></li>

<a class="nav-link text-white" href="#">

		<i class="bi bi-stars"></i>
		Promotions
	</a>
</li>


				<li class="nav-item">
					<a class="nav-link text-white" href="#">Contact</a>
				</li>

			</ul>
		</div>
	</div>
</nav>


<style>
	/* Zoom + transition douce */
	.navbar-nav .nav-link {
		font-weight: 500;
		transition: transform 0.25s ease-in-out, color 0.25s ease-in-out;
		transform-origin: center center;
	}

	.navbar-nav .nav-link:hover {
		transform: scale(1.12);
		color: #ffffff !important;
	}

	/* Visible quand actif */
	.navbar-nav .nav-link.active {
		color: #242424ff !important;
		transform: scale(1.12);
		font-weight: 600;
	}
</style>

{% block javascripts %}
	 <script>
			document.addEventListener('DOMContentLoaded', function () {
				const links = document.querySelectorAll('.navbar .nav-link');
	
				links.forEach(link => {
					link.addEventListener('click', function () {
						links.forEach(l => l.classList.remove('active'));
						this.classList.add('active');
					});
				});
			});
		</script>
{% endblock %}
