<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
<link rel="icon" href="{{ asset('favicon.png') }}"/>


<meta name="viewport" content="width=device-width, initial-scale=1">


        {% block stylesheets %}
{{ encore_entry_link_tags('app') }}


        {% endblock %}

        {% block javascripts %}
{{ encore_entry_script_tags('app') }}


            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
{{ include('_partials/_navbar/_navbar.html.twig') }}


        {% block body %}{% endblock %}
    </body>
</html>
