<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
<link rel="icon" href="{{ asset('favicon.jpg') }}"/>



<meta name="viewport" content="width=device-width, initial-scale=1">


        {% block stylesheets %}
{{ encore_entry_link_tags('app') }}


        {% endblock %}

        {% block javascripts %}
{{ encore_entry_script_tags('app') }}


            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
{% set route = app.request.attributes.get('_route') %}

{% if route starts with 'app_laddo' %}
	{% set colorTheme = 'primarylado' %}
{% elseif route starts with 'app_pralichocco' %}
	{% set colorTheme = 'primarypralichocco' %}
{% else %}
	{% set colorTheme = 'primary' %}
{% endif %}


{{ include('_partials/_navbar/_navbar.html.twig') }}


        {% block body %}{% endblock %}
{% include '_partials/_footer/_footer.html.twig' %}


    </body>
</html>
